
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/calendar.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetEventsOnPageLoad();
        });
    </script>
    <style>
        .calendar-body {
            height: calc(100vh - 165px);
            width: 90%;
            padding-left: 130px;
        }

        .calendar-header {
            padding-left: 30%;
            margin-top: 5%;
        }
    </style>
</head>
<body>
    <div class="calendar-header">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                        <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                        <li>@Html.ActionLink("CalEvent", "Index", "CalendarEvent")</li>
                        <li>@Html.ActionLink("Jobs", "Index", "Job")</li>
                        <li>@Html.ActionLink("Invoice", "Index", "Invoice")</li>
                        <li>@Html.ActionLink("PayChecks", "Index", "PayCheck")</li>



                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="calendar-body">
        <div id="calendar"> </div>
    </div>
    <div id="MyPopup" class="modal fade modal-CreateEvent" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @*Header*@
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                @*ModalBody*@
                <div class="modal-body">


                </div>
                @*modal footer*@
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
