<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My CRM App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/themes/base/css")
<link href="~/Content/chosen.css" rel="stylesheet" />
<style>
    body {
        background-color: lightsteelblue;
    }
</style>
</head>
<body>

    @Html.Partial("~/Views/Shared/NavBarLayout.cshtml")

    <div class="container body-content">

        @RenderBody()


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My CRM App</p>
        </footer>
    </div>
    @*attempt to remove autofill from ALL editorFor boxes  ticket #19 *@


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        $(function () { $('.drop').chosen(); });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker(
                {
                    dateFormat: "m/d/yy",
                }); //  { maxDate: "+1d" } Restrict hire date to no further in future than tomorrow
            //jqueryUI docementation
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('.invoice_link').change(function () {
                var id = $(this).val();
                if (id != null && id != '') {
                    window.location.href = window.location.origin + "/Invoice/Details/" + id;
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('.calendar_link').change(function () {
                var id = $(this).val();
                if (id != null && id != '') {
                    window.location.href = window.location.origin + "/CalendarEvent/Details/" + id;
                }
            });
        });
    </script>

</body>
</html>
