<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My CRM App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Styles.Render("~/Content/themes/base/css")
<link href="~/Content/chosen.css" rel="stylesheet" />

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                    <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                    <li>@Html.ActionLink("CalEvent", "Index", "CalendarEvent")</li>
                    <li>@Html.ActionLink("Jobs", "Index", "Job")</li>
                    <li>@Html.ActionLink("Invoice", "Index", "Invoice")</li>
                    <li>@Html.ActionLink("PayChecks", "Index", "PayCheck")</li>



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="alert-danger">
            @TempData["message"]
        </div>
        <div class="alert-success">
            @TempData["SaveResult"]
        </div>
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My CRM App</p>
        </footer>
    </div>
    @*attempt to remove autofill from ALL editorFor boxes  ticket #19 *@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        $(function () { $('.drop').chosen(); });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker(
                {
                    dateFormat: "m/d/yy",
                }); //  { maxDate: "+1d" } Restrict hire date to no further in future than tomorrow
            //jqueryUI docementation
        });
    </script>
</body>
</html>
