@model IEnumerable<CRM.Models.Job.JobListItem>

@{
    ViewBag.Title = "Index";
}

<h2>List of Jobs</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalendarEventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayCheckID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeePay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCharge)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalendarEventID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayCheckID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCharge)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobID }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobID }) |
                @Html.ActionLink("Delete", "Delete", "CalendarEvent", new { id = item.JobID }, null)
            </td>
        </tr>
    }

</table>
